<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>Cокращатель</title>
    <link rel="stylesheet" href="../css/index.css" />
    <script src="../scripts/index.js"></script>
  </head>
  <body>
    <div id="top">
      <h1>Линкорубка</h1>
      <p>{{.Text}}</p>
    </div>
    <form id="linkarea">
      <input
        type="text"
        id="inputLink"
        name="link"
        placeholder="Скопируем сюда ссылку"
        required
      />
      <button type="submit" value="short">Укоротить</button>
      <button type="reset">Очистить</button>
    </form>
    <div id="output">
      <p>Готово! Ваша короткая ссылка:</p>
      <input id="aliasLink"></input>
      <button type="button" id="copy">Копировать</button>
      <div id="hoverCopyMessage">Скопировано</div>
    </div>
  </body>
</html>
